html {
  height: auto;
}

/* background color */
body {
  background: linear-gradient(#fd749b, #281ac8);
  background-attachment: fixed;
}

/* react component in Blogs and Forums*/
.componentBody {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  text-align: center;
  background-color: white;
}

/* login component in Login, size smaller than componentBody */
.login-container {
  text-align: center;
  margin-top: 2%;
  max-width: 50%;
  padding: 5%;
  background-color: white;
}

/* form styling, all text align left */
.form {
  text-align: left;
  padding: 2%;
}

/* card for blogs and forums  */
.card {
  text-align: left;
  padding: 2%;
  margin-bottom: 2%;
}

/* home page image */
.home-image {
  width: 500px;
  height: 300px;
}

/* home page text */
.home-text {
  text-align: left;
}

/*******************/
/* button for all pages*/
/*  */
.btn-normal {
  background-color: #de57c4;
  color: white;
}

.btn-outline {
  border-color: #de57c4;
  color: #de57c4;
}

.btn-outline:hover {
  background-color: #de57c4;
  color: white;
}
/*******************/

/*******************/
/* Find store page */
/*                 */
.search-boba {
  background-image: url("/boba.jpg");
  color: white;
  background-size: cover;
  text-align: center;
  margin-top: 2%;
  position: relative;
}

.search-form {
  padding: 2%;
  display: flex;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.findStoreInput {
  border: gray;
  box-shadow: none;
  border-radius: 10px 0px 0px 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}

.findStoreInput:focus {
  border: gray;
  box-shadow: none;
}

#searchButtonOuter {
  border-radius: 0px 10px 10px 0px;
}

.searchButton {
  width: 25px;
  height: 25px;
  background: url("/search-solid.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.optionActive {
  color: lightcoral;
}

.searchSuggestionList {
  /* border: 1px solid red; */
  position: absolute;
  right: 28%;
  left: 28%;
  z-index: 2;
  background-color: white;
  color: black;
  font-size: 35px;
}

.searchSuggestionList p {
  border: 1px solid lightgray;
  margin: 0;
  padding: 10px;
}

.filterButtons {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.filterButton {
  background-color: #ff8c61;
  color: white;
  font-weight: bold;
  border: none;
  border-left: 2px solid #4e5283;
  padding: 15px 5px;
  display: flex;
  flex: 1 1 auto;
  text-align: center;
  justify-content: center;
}

.filterBtnClicked {
  background-color: #190e4f;
  color: white;
  box-shadow: none;
  border-color: #190e4f;
  border-left: 2px solid #ff8c61;
}

.button0 {
  border-left: none;
}

.filterButton:focus,
.filterButton:active {
  box-shadow: none;
  outline: none;
}

.loadingDiv {
  max-width: 700px;
  margin: 50px auto;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loadingDiv img {
  width: 30%;
  height: 30%;
}
.loadingDiv p {
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
}

.singleStoreDiv {
  border: 4px solid #190e4f;
  max-width: 700px;
  height: 300px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #0d324d;
}

.singleStoreDiv a {
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: #ffeecf;
}
.singleStoreDiv a:hover {
  cursor: pointer;
  color: white;
}
.singleStoreDiv p {
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  color: #ebebeb;
  padding: 15px;
}

.starRating {
  padding: 4px;
}
/************************/

/*** Forum ****/

/* list of forum categories */
.forumCategoriesBox {
  text-align: left;
  margin-top: 2%;
  width: 50%;
  padding: 5%;
  position: relative;
  margin: auto;
}

/* remove bullet from category list */
.forumCategoryList li {
  list-style-type: none;
  margin: 2%;
}
