html {
  height: 100;
}

body {
  background: linear-gradient(#fd749b, #281ac8);
  background-repeat: no-repeat;
  /* background: linear-gradient(174.48deg, #fd749b -12.41%, #281ac8 88.56%); */
}

.componentBody {
  margin-top: 2%;
  text-align: center;
  background-color: white;
}

.login-container {
  text-align: center;
  margin-top: 2%;
  max-width: 50%;
  padding: 5%;
  background-color: white;
}

.search-boba {
  background-image: url("/boba.jpg");
  color: white;
  background-size: cover;
  text-align: center;
}

.search-form {
  padding: 5%;
}

.jumbotron {
  margin-top: 2%;
}
.form {
  text-align: left;
  padding: 2%;
}

.card {
  text-align: left;
  padding: 2%;
}

.home-image {
  width: 500px;
  height: 300px;
}

.home-text {
  text-align: left;
}

.btn-normal {
  background-color: #de57c4;
  color: white;
  margin: 1%;
}

.btn-outline {
  border-color: #de57c4;
  color: #de57c4;
}

.btn-outline:hover {
  background-color: #de57c4;
  color: white;
}

/* Find store page */
.filterButtons {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.btn-filter {
  background-color: #ff8c61;
  color: white;
  border-color: #ff8c61;
  border-left: 2px solid #4e5283;
}

.button1 {
  border-left: none;
}

.btn-filter:hover {
  background-color: #190e4f;
  color: white;
  border-color: #190e4f;
}

.btn-filter:focus {
  background-color: #190e4f;
  color: white;
  box-shadow: none;
  border-color: #190e4f;
}

.singleStoreDiv {
  border: 1px solid gold;
  max-width: 600px;
  height: 300px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
